.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.header .tittle{
    text-align: center;
    font-family:"Neue machina";
    
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .1rem;
    font-size: 1.125rem;
}
.information p::before{
    content: '';
    display: inline-block;
    width:1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5rem;
}

.information .person::before{
    background-image: url('/assets/imgs/icons/person.svg');
}
.information .location::before{
    background-image: url('/assets/imgs/icons/location.svg');
}

.information .number::before{
    background-image: url('/assets/imgs/icons/number.svg');
}

.information .email::before{
    background-image: url('/assets/imgs/icons/email.svg');
}
@media only screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-areas: 
        "photo tittle"
        "photo information";
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    .header .tittle{
        grid-area: tittle;
        text-align: start;
        max-width: 210px;
    }
    .header .information{
        grid-area: information;
    }
}
 

